In [1]:
from gurobipy import *
import numpy as np
import pandas as pd
from Hourbit import *
from Fibit import *
from blockbit import *

In [13]:
Blockbit()[1]

      ID  OrderID  Hour BitType  Quantity   price  Duration  LinkID
0   1110        1     2       B     694.0  599.67        20     NaN
1   1106        1     2       B     562.0  553.92        11     NaN
2   1105        1    15       B     347.0  609.00         4     NaN
3   1102        1    15       B     543.0  581.19         8     NaN
4   1109        1    20       B     808.0  685.34         4     NaN
..   ...      ...   ...     ...       ...     ...       ...     ...
80  1078        1     2       B     129.0  716.49        19     NaN
81  1199        1     3       B     850.0  444.24        21     NaN
82  1090        1    11       B     172.0  563.73        10     NaN
83  1098        1     6       B     921.0  648.55        19     NaN
84  1096        1    11       B     713.0  586.75         4     NaN

[85 rows x 8 columns]

In [14]:
B_Num_D=len(Blockbit()[1])
B_Num_S=len(Blockbit()[0])

In [15]:
E = Model("Energy")
E.params.NonConvex =2
E.update()
yD = E.addVars(B_Num_D,ub=1,lb=0,  vtype=GRB.BINARY, name='yD')
yS = E.addVars(B_Num_S,ub=1,lb=0,  vtype=GRB.BINARY, name='yS')

Set parameter Username
Academic license - for non-commercial use only - expires 2023-11-02
Set parameter NonConvex to value 2

In [ ]:
sum(Blockbit()[1]['Duration'][i]*Blockbit()[1]['Quantity'][i]*Blockbit()[1]['price'][i]*yD[i] for i in range(B_Num_D))

In [ ]:
sum(Blockbit()[0]['Duration'][j]*Blockbit()[0]['Quantity'][j]*Blockbit()[0]['price'][j]*yD[j] for j in range(B_Num_S))

In [ ]:
E.addConstr(-sum((Pair(j,h,Data_H_D,'DQ')[1]-Pair(j,h,Data_H_D,'DQ')[0])*xD[h,j] for j in J for h in H) +sum((Pair(j,h,Data_H_SP,'SQ')[1]-Pair(j,h,Data_H_SP,'SQ')[0])*xS[h,j] for j in J for h in H) -sum(Pair(1,h,Data_H_D,'DQ')[0] for h in H)+sum(Pair(1,h,Data_H_SP,'SQ')[0] for h in H) == 0)
# Demand