In [68]:
import numpy as np
import pandas as pd
from blockbid import *
BS_bids = Blockbid()[0]
BD_bids = Blockbid()[1]
L_D = len(BD_bids)
L_S = len(BS_bids)

In [69]:
x=np.arange(10,25)
Res=[]
Subres=[]

In [88]:
data

114

In [112]:
for i in x:
    Data = pd.read_csv('/Users/weiliang/Downloads/drive-download-20230218T174928Z-001/Veri_{}.in'.format(i),header = None)
    Data.columns= ['ID','OrderID','Hour','BitType','Quantity','price','Duration','LinkID']
    Subres=[]
    Subres.append('Veri_{}.in'.format(i))
    Subres.append(len(np.where(Data['BitType']=='S')[0]))
    Subres.append(len(np.where(Data['BitType']=='B')[0]))
    child=[]
    for i in np.where(Data.isnull()['LinkID']==False)[0]:
        child.append(Data['LinkID'][i])
    Subres.append(len(set(child)))
    Subres.append(len(np.where(Data['BitType']=='F')[0]))
    Res.append(Subres)
RES=pd.DataFrame(Res)
RES.to_csv()

             0      1    2    3   4   5
0   Veri_10.in  48000  195   90  50 NaN
1   Veri_11.in  48000  195   85  50 NaN
2   Veri_12.in  48000  200   90  50 NaN
3   Veri_13.in  48000  295    0  50 NaN
4   Veri_14.in  48000  295    0  50 NaN
..         ...    ...  ...  ...  ..  ..
85  Veri_20.in  48000  300    0  50 NaN
86  Veri_21.in  48000  295  115  50 NaN
87  Veri_22.in  48000  295  114  50 NaN
88  Veri_23.in  48000  295   96  50 NaN
89  Veri_24.in  48000  295   94  50 NaN

[90 rows x 6 columns]

In [73]:
len(np.where(Data['BitType']=='S')[0])

48000

In [74]:
len(np.where(Data['BitType']=='F')[0])

50

In [75]:
len(np.where(Data['BitType']=='B')[0])

295

In [76]:
len(np.where(Data.isnull()['LinkID']==False)[0])

130